
html {
    background-image: url("../images/21.jpeg");
    background-size: cover;
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 1024px;   
    background-color: rgba(0, 0, 0, 0.6);  
    color: white;
    border-radius: 5%;   
    margin-bottom: 30px;
    font-family: "Muli", sans-serif;
    font-weight: 900;
    font-size: 20px;
}

h1 {
    font-family: "Girloy", sans-serif;
    font-size: 55px;
    letter-spacing: 3px;
    text-align: center;
    padding-top: 30px;    
}

h2 {
    text-align: center;
    font-size: 27px;
    font-weight: 900; 
}

.contacts {
   background-color: rgba(0, 0, 0, 0.8);
   height: 230px;
   width: 390px;
   margin: 0;
   border-radius: 5%;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   list-style: none;
   font-family: "Girloy", sans-serif;
   letter-spacing: 2px;
}

.wrapper {
    display: flex;
    justify-content: space-around;
}

.icon {
    width: 50px;
    padding-right: 15px;
}

.photo {
    border-radius: 5%;
}

a:link {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

.contacts a {
    display: flex;
    align-items: center;
    font-size: 22px;
}

a:hover {
    color: grey;
}

ul li:first-child a {
    font-size: 18px;
}

.info {  
    
    letter-spacing: 1px;
    line-height: 40px;    
    background-color: black;
    border-radius: 5%;
    text-indent: 20px;
}

.second-line_wrapper, .third-line_wrapper {
    display: flex;
    margin-top: 40px;
    justify-content: space-evenly;
}

.second-line_wrapper .info {
    width: 45%;
}

.skills {
    width: 15%;
    border-radius: 15px;
}

.experience {
    width: 42%;
}

.english {
    width: 25%;
}

footer {    
    text-align: center;
    padding: 30px 0;
    font-size: 1.2em;
}

@media(max-width: 950px) {

    body {
        border-radius: 30px;       
    }

    .contacts{
        width: 60%;
        min-width: 370px;
    }

    .wrapper, .second-line_wrapper, .third-line_wrapper {        
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }

    .photo {
        width: 100%;
        max-width: 338px;
        margin-bottom: 20px;
    }

    .info {
        width: 90%;
        margin-top: 15px;
    }

    .second-line_wrapper .info {
        width: 90%;
    }

}